body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  color: var(--blackFontColor);
  font-family: "Microsoft YaHei";
}
body {
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #101010;
  text-decoration: none;
}
a:hover {
  color: currentColor;
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
.display-none {
  display: none !important;
}
.clearfloat-right {
  float: right;
}
.clearfloat-left {
  float: left;
}
.clearfloat::before,
.clearfloat::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.in1line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.in2line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.nowrap {
  white-space: nowrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.word-wrap {
  white-space: normal;
  word-break: break-all;
  word-wrap: normal;
}
.index-home-page {
  background-color: #fff;
}
.normal-module {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: #fff;
}
.part-content {
  width: 1110px;
}
.module-top-title {
  position: relative;
  margin-bottom: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 52px;
}
.module-top-title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  right: 50%;
  transform: translateX(50%);
  width: 60px;
  height: 4px;
  background-color: #F7950C;
}
.page-header {
  width: 100%;
  height: 80px;
  margin-bottom: 0px;
  background-color: #fff;
}
.page-header.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 6px 16px 0px rgba(74, 74, 74, 0.08);
  background-color: rgba(255, 255, 255, 0.95);
}
.page-header .part-content {
  overflow: hidden;
}
.page-header .logo-box {
  padding: 8px 40px 8px 0;
}
.page-header .logo-box .link-logo-a {
  display: block;
}
.page-header .logo-box .link-logo-a .logo-img {
  width: auto;
  max-height: 64px;
  object-fit: contain;
}
.page-header .list-ul .item-li {
  display: inline-block;
  padding: 25px 20px;
}
.page-header .list-ul .item-li .nav-link-a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #101010;
}
.page-header .list-ul .item-li .nav-link-a:hover {
  color: #F7950C;
}
.page-header .list-ul .item-li .nav-link-a.active {
  color: #F7950C;
}
.page-header .list-ul .item-li .nav-link-a.active::after {
  content: "";
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  bottom: -10px;
  width: 60%;
  height: 2px;
  background-color: currentColor;
}
.page-header .right-menu {
  height: 100%;
  display: flex;
  align-items: center;
}
.page-header .right-menu .link {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #666;
  white-space: nowrap;
}
.page-header .right-menu .link.register,
.page-header .right-menu .link .username {
  color: #F7950C;
  font-weight: bold;
  margin-left: 20px;
}
.page-header .right-menu .link .username {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 8px;
  max-width: 96px;
}
.normal-module.submenu-module {
  margin-bottom: 10px;
  padding: 25px;
}
.normal-module.submenu-module .part-content {
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.normal-module.submenu-module .part-content .left-part {
  width: 255px;
}
.normal-module.submenu-module .part-content .left-part .desc {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.normal-module.submenu-module .part-content .left-part .sub-desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #999;
}
.normal-module.submenu-module .part-content .center-part {
  flex: 1;
  height: 40px;
  padding-left: 16px;
  margin-right: 100px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #F1F1EF;
}
.normal-module.submenu-module .part-content .center-part form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.normal-module.submenu-module .part-content .center-part form input {
  position: relative;
  flex: 1;
  height: 100%;
  border: none;
  padding: 0;
  outline: none;
}
.normal-module.submenu-module .part-content .center-part form .search-btn {
  display: inline-block;
  padding: 0 30px;
  height: 100%;
  border-radius: 20px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  background-color: #FBE66D;
  cursor: pointer;
}
.normal-module.submenu-module .part-content .right-part {
  position: relative;
}
.page-footer.normal-module {
  background-color: #232323;
  padding-top: 80px;
}
.page-footer.normal-module .top-part {
  margin-bottom: 20px;
}
.page-footer.normal-module .top-part .logo-img {
  width: auto;
  height: 52px;
  object-fit: contain;
}
.page-footer.normal-module .center-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 80px;
  border-bottom: 1px solid #353535;
}
.page-footer.normal-module .center-part .intro {
  width: 310px;
  color: #B0B0B0;
}
.page-footer.normal-module .center-part .intro .desc {
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.page-footer.normal-module .center-part .intro .sub-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.page-footer.normal-module .center-part .link-box .h4-title {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 20px;
}
.page-footer.normal-module .center-part .link-box .item-a {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #B0B0B0;
  line-height: 20px;
}
.page-footer.normal-module .bottom-part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0 20px 0;
}
.page-footer.normal-module .bottom-part .text-box {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  line-height: 20px;
}
.page-footer.normal-module .bottom-part .text-box .version {
  display: inline-block;
  padding: 0 6px;
  color: #fff;
}
.page-footer.normal-module .bottom-part .text-box .version:hover {
  text-decoration: underline;
}
.page-footer.normal-module .bottom-part .text-box .gov {
  color: #717171;
}
.page-footer.normal-module .bottom-part .text-box .gov:hover {
  text-decoration: underline;
}
.normal-module.list-banner-ads-module {
  margin-bottom: 40px;
}
.normal-module.list-banner-ads-module .part-content {
  display: flex;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box {
  position: relative;
  width: 255px;
  height: 480px;
  border-radius: 6px;
  background-color: #101010;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item:first-child .link-a::before {
  display: none;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item:hover .use-popup {
  display: block;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .link-a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 20px;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .link-a::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: calc(100% - 40px);
  height: 1px;
  background-image: linear-gradient(to right, #fff 0%, #fff 80%, transparent 50%);
  background-size: 10px 100%;
  background-repeat: repeat-x;
  opacity: 0.5;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .link-a:hover {
  background: #fff;
  color: #101010;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .link-a .left-eg-icon {
  margin-right: 8px;
  font-size: 20px;
  vertical-align: middle;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .link-a .name {
  flex: 1;
  width: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .link-a .right-arrow-icon {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 400;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .use-popup {
  display: none;
  z-index: 99;
  position: absolute;
  left: 100%;
  top: 0;
  width: 440px;
  height: 480px;
  margin: 0;
  padding: 0 20px 20px;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px rgba(74, 74, 74, 0.3);
  transition: all 0.8s ease;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .use-popup dt {
  line-height: 50px;
  border-bottom: 1px solid #eee;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .use-popup dt a {
  display: block;
  color: #666;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .use-popup .dd-box {
  overflow-y: auto;
  max-height: calc(100% - 51px - 20px);
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .use-popup dd {
  float: left;
  margin: 0;
  width: 50%;
  line-height: 42px;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .use-popup dd .dd-a {
  display: block;
  color: #333;
}
.normal-module.list-banner-ads-module .part-content .left-part .list-box .list-item .use-popup dd .dd-a:hover {
  color: #000;
  text-decoration: underline;
}
.normal-module.list-banner-ads-module .part-content .center-part {
  flex: 1;
  padding-left: 20px;
  overflow: hidden;
}
.normal-module.list-banner-ads-module .part-content .center-part .swiper {
  /* swiper 主题色 */
  --swiper-theme-color: #101010;
  flex: 1;
}
.normal-module.list-banner-ads-module .part-content .center-part .swiper-slide .swiper-href-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.normal-module.list-banner-ads-module .part-content .center-part .swiper-slide .swiper-href-a img {
  width: 100%;
  height: 480px;
  max-height: 480px;
  object-fit: fill;
}
.normal-module.news-center-module .part-content {
  border-radius: 6px;
}
.normal-module.news-center-module .top-news-box {
  display: flex;
  padding: 20px;
  background-color: #f6f6f6;
}
.normal-module.news-center-module .top-news-box .left-part {
  display: flex;
  align-items: center;
  width: 255px;
}
.normal-module.news-center-module .top-news-box .left-part .img-box {
  margin-right: 6px;
}
.normal-module.news-center-module .top-news-box .left-part .img-box .item-img {
  width: 50px;
  height: auto;
  object-fit: contain;
}
.normal-module.news-center-module .top-news-box .left-part .desc {
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
  color: #101010;
}
.normal-module.news-center-module .top-news-box .left-part .sub-desc {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  line-height: 24px;
}
.normal-module.news-center-module .top-news-box .right-part {
  flex: 1;
}
.normal-module.news-center-module .top-news-box .right-part .article-list {
  display: flex;
  flex-wrap: wrap;
}
.normal-module.news-center-module .top-news-box .right-part .article-list .article-item {
  box-sizing: border-box;
  display: block;
  width: calc((100% - 4 * 20px) / 4);
  height: 50px;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #101010;
  line-height: 50px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
}
.normal-module.news-center-module .top-news-box .right-part .article-list .article-item:hover {
  background: #101010;
  color: #fff;
}
.normal-module.news-center-module .bottom-ads-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  margin-top: 40px;
}
.normal-module.news-center-module .bottom-ads-box .link-img-a {
  width: 32%;
  display: block;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}
.normal-module.news-center-module .bottom-ads-box .link-img-a .ad-img {
  width: 100%;
  max-height: 140px;
  object-fit: contain;
}
.normal-module.set-meal-module .bottom-part {
  display: flex;
  flex-wrap: wrap;
}
.normal-module.set-meal-module .bottom-part .meal-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc((100% - 3 * 30px) / 3);
  padding: 64px 40px 40px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 4px solid #F6F6F6;
}
.normal-module.set-meal-module .bottom-part .meal-item:nth-child(3n) {
  margin-right: 0px;
}
.normal-module.set-meal-module .bottom-part .meal-item .price-img-box {
  position: absolute;
  top: -12px;
  right: 35px;
  width: 100px;
  height: 96px;
  padding-top: 12px;
  padding-left: 10px;
}
.normal-module.set-meal-module .bottom-part .meal-item .price-img-box.red {
  background: url("../images/imgs_20230325/price_red.png") no-repeat;
  background-size: 100% 100%;
}
.normal-module.set-meal-module .bottom-part .meal-item .price-img-box.gold {
  background: url("../images/imgs_20230325/price_gold.png") no-repeat;
  background-size: 100% 100%;
}
.normal-module.set-meal-module .bottom-part .meal-item .price-img-box .price {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 46px;
  text-align: center;
}
.normal-module.set-meal-module .bottom-part .meal-item .price-img-box .price::after {
  content: "￥";
  position: absolute;
  top: -14px;
  right: 0;
  font-size: 14px;
  color: currentColor;
  font-weight: bold;
}
.normal-module.set-meal-module .bottom-part .meal-item .price-img-box .unit {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
}
.normal-module.set-meal-module .bottom-part .meal-item .no-box {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 32px;
  color: #ffdbb3;
  font-weight: bold;
  transform: scaleY(1.5);
}
.normal-module.set-meal-module .bottom-part .meal-item .meal-name {
  font-size: 32px;
  font-weight: bold;
  line-height: 52px;
}
.normal-module.set-meal-module .bottom-part .meal-item .meal-sub-desc {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 20px;
}
.normal-module.set-meal-module .bottom-part .meal-item .meal-desc-list {
  flex: 1;
  margin: 24px 0;
}
.normal-module.set-meal-module .bottom-part .meal-item .meal-desc-list .desc-item {
  margin-bottom: 16px;
}
.normal-module.set-meal-module .bottom-part .meal-item .meal-desc-list .desc-item:last-child {
  margin-bottom: 0px;
}
.normal-module.set-meal-module .bottom-part .meal-item .meal-desc-list .checked-img {
  margin-right: 6px;
  width: 18px;
  height: auto;
  object-fit: contain;
  vertical-align: sub;
}
.normal-module.set-meal-module .bottom-part .meal-item .meal-desc-list .name-desc {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  line-height: 20px;
}
.normal-module.set-meal-module .bottom-part .meal-item .meal-desc-list .price-desc {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 20px;
}
.normal-module.set-meal-module .bottom-part .meal-item .buy-btn {
  width: 100%;
  height: 48px;
  background: #FBE66D;
  line-height: 48px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}
.normal-module.api-cards-module .bottom-part {
  display: flex;
  flex-wrap: wrap;
}
.normal-module.api-cards-module .right-real-api-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.normal-module.api-cards-module .right-real-api-list .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc((100% - 3 * 30px) / 3);
  padding: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 4px solid #F6F6F6;
}
.normal-module.api-cards-module .right-real-api-list .item .free-blue {
  border-color: #2ea6ff !important;
}
.normal-module.api-cards-module .right-real-api-list .item .pay-red {
  border-color: #ff7f5e !important;
}
.normal-module.api-cards-module .right-real-api-list .item .hot-gold {
  border-color: #ffa84a !important;
}
.normal-module.api-cards-module .right-real-api-list .item .label-span-text {
  font-size: 12px;
  font-weight: 400;
  transform: translate(10px, 10px) rotate(45deg);
  display: inline-block;
  color: #fff !important;
}
.normal-module.api-cards-module .right-real-api-list .item .icon-box {
  width: 84px;
  height: 84px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #f6f6f6;
  text-align: center;
  line-height: 84px;
}
.normal-module.api-cards-module .right-real-api-list .item .icon-box .icon-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.normal-module.api-cards-module .right-real-api-list .item .desc {
  max-height: 72px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  line-height: 36px;
  text-align: center;
}
.normal-module.api-cards-module .right-real-api-list .item .sub-desc {
  height: 40px;
  width: 100%;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
  text-align: center;
}
.normal-module.api-cards-module .right-real-api-list .item .price-desc {
  font-size: 14px;
  font-weight: 400;
  color: #FF9E00;
  line-height: 24px;
}
.normal-module.api-cards-module .left-eg-item {
  display: flex;
  flex-direction: column;
  width: 255px;
  min-height: 300px;
  padding: 40px 20px 30px;
  margin-bottom: 30px;
  border: none;
}
.normal-module.api-cards-module .left-eg-item.free {
  background: url('../images/imgs_20230325/api_bg_blue.png') no-repeat;
  background-size: 100% 100%;
}
.normal-module.api-cards-module .left-eg-item.hot {
  background: url('../images/imgs_20230325/api_bg_gold.png') no-repeat;
  background-size: 100% 100%;
}
.normal-module.api-cards-module .left-eg-item.pay {
  background: url('../images/imgs_20230325/api_bg_red.png') no-repeat;
  background-size: 100% 100%;
}
.normal-module.api-cards-module .left-eg-item .desc {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 36px;
}
.normal-module.api-cards-module .left-eg-item .desc::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #fff;
}
.normal-module.api-cards-module .left-eg-item .intro-desc {
  box-sizing: content-box;
  margin: 40px 0;
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
}
.normal-module.api-cards-module .left-eg-item .btn-a {
  display: block;
  width: 100px;
  border-radius: 6px;
  border: 1px solid #fff;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.normal-module.information-cards-module .bottom-part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.normal-module.information-cards-module .bottom-part .item {
  width: calc((100% - 3 * 30px) / 4);
  margin-bottom: 20px;
}
.normal-module.information-cards-module .bottom-part .item .top-box {
  display: flex;
}
.normal-module.information-cards-module .bottom-part .item .top-box .step-img-box {
  margin-right: 16px;
}
.normal-module.information-cards-module .bottom-part .item .top-box .step-img-box .item-img {
  width: 42px;
  height: auto;
  object-fit: contain;
}
.normal-module.information-cards-module .bottom-part .item .top-box .desc {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  line-height: 30px;
}
.normal-module.information-cards-module .bottom-part .item .top-box .sub-desc {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 20px;
}
.normal-module.information-cards-module .bottom-part .item .bottom-box {
  padding: 40px 0;
  margin-top: 30px;
  text-align: center;
  background-color: #FFFCEF;
}
.normal-module.information-cards-module .bottom-part .item .bottom-box .card-img {
  width: auto;
  height: 100px;
  object-fit: contain;
}
.normal-module.ads-cards-module .bottom-part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.normal-module.ads-cards-module .bottom-part .item {
  width: calc((100% - 5 * 30px) / 6);
  margin-bottom: 20px;
  border-radius: 6px;
}
.normal-module.ads-cards-module .bottom-part .item .img-box {
  padding: 30px 0;
  text-align: center;
}
.normal-module.ads-cards-module .bottom-part .item .img-box .item-img {
  width: auto;
  height: 100px;
  object-fit: contain;
}
.normal-module.ads-cards-module .bottom-part .item .img-box.dev {
  background-color: #EDFCFF;
}
.normal-module.ads-cards-module .bottom-part .item .img-box.doc {
  background-color: #FFF9F0;
}
.normal-module.ads-cards-module .bottom-part .item .img-box.vis {
  background-color: #F0FAFF;
}
.normal-module.ads-cards-module .bottom-part .item .img-box.flo {
  background-color: #FFF6F8;
}
.normal-module.ads-cards-module .bottom-part .item .img-box.fre {
  background-color: #F8FFDB;
}
.normal-module.ads-cards-module .bottom-part .item .img-box.wor {
  background-color: #F7F5FF;
}
.normal-module.ads-cards-module .bottom-part .item .desc {
  padding-top: 16px;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.normal-module.free-register-ads {
  margin-bottom: 0px;
  height: 300px;
  background: url('../images/imgs_20230325/bg_register_ads.png') no-repeat;
  background-size: 100% 100%;
}
.normal-module.free-register-ads .part-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.normal-module.free-register-ads .part-content .ad-text {
  width: 400px;
  padding: 55px 0 50px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  line-height: 52px;
}
.normal-module.free-register-ads .part-content .ad-btns .btn-a {
  display: inline-block;
  width: 200px;
  margin-bottom: 40px;
  border-radius: 6px;
  border: 1px solid #fff;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.normal-module.free-register-ads .part-content .ad-btns .btn-a.left {
  background-color: #fff;
  margin-right: 25px;
}
.normal-module.free-register-ads .part-content .ad-btns .btn-a.right {
  color: #fff;
}
.normal-module.api-list-page-module .part-content {
  display: flex;
}
.normal-module.api-list-page-module .part-content .left-part .list-box {
  width: 255px;
  border-radius: 6px;
  background-color: #101010;
}
.normal-module.api-list-page-module .part-content .left-part .list-box .list-item:first-child .link-a::before {
  display: none;
}
.normal-module.api-list-page-module .part-content .left-part .list-box .list-item .link-a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 20px;
}
.normal-module.api-list-page-module .part-content .left-part .list-box .list-item .link-a::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: calc(100% - 40px);
  height: 1px;
  background-image: linear-gradient(to right, #fff 0%, #fff 80%, transparent 50%);
  background-size: 10px 100%;
  background-repeat: repeat-x;
  opacity: 0.5;
}
.normal-module.api-list-page-module .part-content .left-part .list-box .list-item .link-a.active,
.normal-module.api-list-page-module .part-content .left-part .list-box .list-item .link-a:hover:not(.first) {
  background: #fff;
  color: #333;
}
.normal-module.api-list-page-module .part-content .left-part .list-box .list-item .link-a .left-eg-icon {
  margin-right: 8px;
  font-size: 20px;
  vertical-align: middle;
}
.normal-module.api-list-page-module .part-content .left-part .list-box .list-item .link-a .name {
  flex: 1;
  width: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.normal-module.api-list-page-module .part-content .left-part .list-box .list-item .link-a .right-arrow-icon {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 300;
}
.normal-module.api-list-page-module .part-content .right-part {
  flex: 1;
}
.normal-module.api-list-page-module .part-content .right-part .module-title-box {
  position: relative;
  padding-left: 30px;
  height: 60px;
  line-height: 60px;
  font-weight: normal;
  color: #333;
}
.normal-module.api-list-page-module .part-content .right-part .module-title-box strong::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 120%;
  background: linear-gradient(170deg, #fac353 0%, #f78d00 100%);
  bottom: -10px;
  left: 0px;
}
.normal-module.api-list-page-module .part-content .right-part .module-title-box strong {
  position: relative;
  font-size: 18px;
}
.normal-module.api-list-page-module .part-content .right-part .module-title-box span {
  font-size: 14px;
  color: #CFD2D3;
}
.normal-module.api-list-page-module .part-content .right-part .module-title-box .more-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  line-height: 15px;
  color: #888;
}
.normal-module.api-list-page-module .part-content .right-part .module-title-box .more-link a {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
  border-right: 1px solid #ccc;
}
.normal-module.api-list-page-module .part-content .right-part .module-title-box .more-link a:hover,
.normal-module.api-list-page-module .part-content .right-part .module-title-box .more-link a.active {
  color: var(--theme-color);
}
.normal-module.api-list-page-module .part-content .right-part .module-title-box .more-link a:last-child {
  border: none;
}
.normal-module.api-list-page-module .part-content .right-part .right-real-api-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.normal-module.api-list-page-module .part-content .right-part .right-real-api-list .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc((100% - 3 * 30px) / 3);
  padding: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 4px solid #F6F6F6;
}
.normal-module.api-list-page-module .part-content .right-part .right-real-api-list .item .icon-box {
  width: 84px;
  height: 84px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #f6f6f6;
  text-align: center;
  line-height: 84px;
}
.normal-module.api-list-page-module .part-content .right-part .right-real-api-list .item .icon-box .icon-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.normal-module.api-list-page-module .part-content .right-part .right-real-api-list .item .desc {
  max-width: 90%;
  height: 64px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 36px;
}
.normal-module.api-list-page-module .part-content .right-part .right-real-api-list .item .sub-desc {
  max-width: 90%;
  height: 20px;
  width: 100%;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  text-align: center;
}
.normal-module.api-list-page-module .part-content .right-part .right-real-api-list .item .price-desc {
  font-size: 14px;
  font-weight: 400;
  color: #FF9E00;
  line-height: 24px;
}
/* 媒体查询适应设置 start */
@media screen and (min-width: 320px) {
  .normal-module {
    padding: 0 20px;
  }
  .part-content {
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .normal-module {
    padding: 0;
  }
  .part-content {
    width: 1110px;
    overflow: inherit;
  }
}
/* 媒体查询适应设置 start */
